<h1>Order info</h1>
<p>Email: <%= @order.user.email %></p>
<p>Product name: <%= @order.product.name %></p>
<img src="<%= @order.product.images.first.url %>" alt="">
<p>quantity: <%= @order.quantity %></p>

<p>subtotal: <%= @order.subtotal %></p>
<p>tax: <%= @order.tax %></p>
<p>total: <%= @order.total %></p>
