<h1>Order info</h1>
<p>User id: <%= @order.user_id %></p>
<p>Product id: <%= @order.product_id %></p>
<p>quantity id: <%= @order.quantity %></p>
<p>subtotal id: <%= @order.subtotal %></p>
<p>tax id: <%= @order.tax %></p>
<p>total id: <%= @order.total %></p>
