  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <p>Categories</p>
            <ul>
            <% @product.categories.each do |category| %>
              <li><a href="/products?category=<%= category.name %>"><%= category.name %></a></li>
            <% end %>
            </ul>
            <p>Made by <%= @product.supplier.name %> (whose email address is <%= @product.supplier.email %>)</p>
            <% if @product.discounted? %>
              <h4 class="discount-item">Discount item!</h4>
            <% else %>
              <h4>Everyday value!</h4>
            <% end %>
            <p>Price: <%= number_to_currency(@product.price) %></p>
            <p>Tax: <%= number_to_currency(@product.tax) %></p>
            <p>Total: <%= number_to_currency(@product.total) %></p>

            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>

            <p>Description: <%= @product.description %></p>

            <%= form_tag "/orders", method: "post" do %>
              <input type="hidden" name="form_product_id" value="<%= @product.id %>">
              Quantity: <input type="text" name="form_quantity">
              <input type="submit" value="Buy now!">
            <% end %>

            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
